<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arquillian.droidium.testapp.multipledeployments.emailvalidator"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18" />

    <application android:label="@string/app_name">

        <activity android:name=".VerificationActivity" />

        <service android:name=".EmailValidationService" android:process=":remote">
            <intent-filter>
                <action android:name="org.arquillian.droidium.testapp.multipledeployments.emailvalidator.IEmailValidationService" />
            </intent-filter>
        </service>

    </application>
</manifest>